@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@500&family=Mulish&family=Poppins:wght@500&display=swap');

:root{
    --font-size-one: 2.2rem;
    --font-size-para: 1.2rem;
    --font-size-explore: 1.5rem;
    --font-size-explore-btn: 0.9rem;
    --font-size-option: 0.8rem;
}
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.655);
}
.docs-section{
    overflow:hidden;
    padding:0.4rem 1rem;
    position: relative;
    display: flex;
    flex-flow: column;
    font-weight: 400;
}
.docs-heading{
    font-size: var(--font-size-one);
    font-weight: 900;
    line-height: 1.2;
    padding: 2rem 1rem;
}
.docs-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1.5rem;
    
}
.docs-card{
    position: relative;
    width: 100%;
    height: 15rem;
    border-radius:1.6rem;
    border: 1px solid rgb(218, 220, 224);
    gap: 0.5rem;
    display: flex;
    padding:1.5rem;
    flex-flow: column;
    min-width: 12rem;
}
.docs-card:hover{
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 3px 0px, rgb(60 64 67 / 15%) 0px 4px 8px 3px;
}
.docs-card-title{
    font-size: var(--font-size-para);
    font-weight: 600;
    opacity: 0.8;
    line-height: 1.2;
}
.docs-card-para{
    font-size:0.9rem;
    opacity: 0.7;
    line-height: 1.2;
    font-weight: 300;
width: 85%;
}

.formpaper{
    background-color: red;
    width: 100%;
    position: relative;
    background-color: #1e40ad;
    color: white;
}
.paperbut{
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    top: 0;
    right: 0;
    border: 1px solid black;
    background-color:white;
    color: black;
    padding: 10px;
}

.research-intake{
    margin-top: 70px;
    margin-left: 10px;
    font-size: 20px;
}

.research-data{
    padding: 10px;
    gap: 10px;
}

.research-input{
    color: black;
    margin-left: 20px;
}

.research-submit{
    position: absolute;
    margin: 20px;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 170px;
}
/* css for responsive */
@media screen and (max-width:768px){
    .docs-content{
        grid-template-columns: repeat(2,1fr);
    }
    .docs-heading{
        font-size: 1.8rem;
        padding:1rem 0 2rem;
    }
    .docs-card-title{
        font-size: 1.1rem;
    }
    .docs-card-para{
        font-size: 0.85rem;
    }
    .docs-section>.container{
        margin:0 auto;
    }
}
@media screen and (max-width:500px){
    .docs-content{
        grid-template-columns: 1fr;
    }
    .docs-section{
        padding:0.2rem;
    }
}
@media screen and (max-width:350px){
    .docs-heading{
        font-size: 1.6rem;
    }
    .docs-card-title{
        font-size: 1rem;
    }
    .docs-card-para{
        font-size: 0.75rem;
    }
}




