@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@500&family=Mulish&family=Poppins:wght@500&display=swap');

:root{
    --font-size-one: 2.2rem;
    --font-size-para: 1.2rem;
    --font-size-subpara: 0.98rem;
    --font-size-explore: 1.5rem;
    --font-size-forum: 1.1rem;
    --font-size-explore-btn: 0.9rem;
    --font-size-option: 0.8rem;
}
a{
    text-decoration: none;
    color: #000;
}
.container{
    margin:2rem 0;
}
.discussion-details{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.discussion-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem 0;
    align-self: flex-start;
    max-width: 50rem;
}
h1.main-title{
    font-size: var(--font-size-one);
    font-weight: 700;
    margin: 0.9rem 0 0;
}
p.discussion-para{
    font-size: var(--font-size-para);
    font-weight: 500;
    line-height: 1.4;
    margin: 0.9rem 0 0;
    color: rgb(95, 99, 104);
}
.datasets-image{
    width:20rem;
    height:20rem;
}
.datasets-image>img{
    width:100%;
    height:100%;
}
/* css for buttons */

.button.second{
    margin-top: 1rem;
    padding: 0.6rem 1rem;
    border-radius:2rem;
    border:1px solid rgb(189, 193, 198);
    background-color: transparent;
    display: flex;
    align-content: center;
}
.button.second:hover{
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid rgb(32, 33, 36);
}
.button-content{
    display: flex;
    font-size: var(--font-size-explore-btn);
    font-weight:400;
    align-self: center;
}


/* search-bar css */
.search-bar{
    border: 0.1rem solid rgba(0,0,0,0.10);
    border-radius: 5rem;
    padding: 0.5rem 0.6rem 0.5rem 1.2rem;
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    gap:1rem;
    align-items: center;
    justify-content: flex-start;
}
.search-icon{
    display: flex;
    font-size:1.5rem;
    opacity: 0.9;
    color: rgba(0,0,0,0.8);
}
.search-bar>input,.filter-search-bar>input{
    outline: none;
    border: none;
    background-color: transparent;
    align-self: center;
    font-size:0.8rem;
    color: rgba(0,0,0,0.5);
    width: 100%;
}
input::placeholder,input[type="text"]{
    font-size: 1rem;
}

/* css for filter-searchbar */
.filter-search-bar{
    border: 0.1rem solid rgba(0,0,0,0.16);
    border-radius: 5rem;
    padding: 0.5rem 0.6rem 0.5rem 1.2rem;
    display: flex;
    width: 100%;
    margin: 0 auto;
    gap:1rem;
    align-items: center;
    justify-content: flex-start;
}
.filter-search{
    cursor:pointer;
    border-radius: 5rem;;
    background-color: transparent;
    display: flex;
    gap: 1rem;
    align-self: flex-end;
    padding: 0.3rem 0.5rem;
}
.filter-search:hover{
    outline: none;
    box-shadow: none;
    background-color: rgba(218, 220, 224, 0.566);
    border: none;
}
.filter-content,.filter-icon{
    font-size: 0.8rem;
    font-weight: 600;
    align-self: center;
}
.search-icon{
    display: flex;
    font-size:1.5rem;
    opacity: 0.9;
    color: rgba(0,0,0,0.8);
}
.search-bar>input,.filter-search-bar>input{
    outline: none;
    border: none;
    background-color: transparent;
    align-self: center;
    font-size:0.8rem;
    color: rgba(0,0,0,0.5);
    width: 100%;
}
input::placeholder,input[type="text"]{
    font-size: 1rem;
}
.option-section{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    gap:0.7rem;
}
.options{
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: 5rem;
    padding: 0.4rem 1rem;
    font-size: var(--font-size-option);
    letter-spacing: 0.05rem;
    font-weight: 400;
    cursor: pointer;
    margin-top: 0.7rem;
    transition: border 0.4s ease;
}
.options:hover{
    background-color: transparent;
    border: 0.1rem solid rgb(32, 33, 36);
}


.trending-section,.social-section{
    max-width: 122rem;
    width: 100%;
    margin: 1.5rem 0 1rem;
    display: flex;
    flex-direction: column;
}
.top-trending,.top-social,.top-finance,.top-programmming,.top-textdata,.top-exercise{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trending-logo,.social-logo,.finance-logo,.programmming-logo,.textdata-logo,.exercise-logo{
    display: flex;
    gap: 1.6rem;
    align-items: center;
}
.finance-icon,.timeline-icon{
    font-size:3rem;
    align-self: center;
}
.textdata-icon,.exercise-icon{
    font-size:1.8rem;
    align-self: center;
}
h1.trending-title,h1.social-title,h1.finance-title,h1.rogrammming-title,h1.textdata-title,h1.exercise-title{
    font-size:1.4rem;
    line-height: 1.2;
    font-weight: 600;
}

div.top-learning{
    margin-bottom: 0.5rem;
}
div.learn-desc{
    padding-right: 4rem;
    margin-bottom: 3rem;
}
.learn-view{
    display: flex;
    gap:0.2rem;
    justify-content: center;
    align-items: center;
}
.md-view{
    font-size: 2rem;
}
.learn-side-data{
    padding: 1rem;
    cursor:pointer;
    border-radius: 5rem;
    background-color: transparent; 
}
.learn-side-data:hover{
    background-color: rgb(241, 243, 244);
}

section.discussion{
    overflow:hidden;
    padding:0.4rem 1rem;
    position:relative;
}
.discussion-section{
    max-width: 122rem;
    width: 100%;
    margin-bottom: 3rem;
}
.discuss-logo{
    width:2.5rem;
    height:2.5rem;
}
.discuss-logo>img{
    width:100%;
    height:100%;
}
a.btn{
    width:moz-fit-content;
    /* width:fit-content; */
}
a>.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
a>.button>.button-content{
    font-weight: 500;
}

/* css for forums */
div.discussion-list{
    display: flex;
    cursor: pointer;
    position: relative;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2rem solid rgba(208, 210, 211, 0.632); ;
}
div.discussion-list:hover{
    background-color:  rgba(241, 243, 244, 0.494); ;
}
div.listview{
    height: 6rem;
    display: flex;
    align-items: center;
    border-radius: 0.6rem;
    gap:1.5rem;
    justify-content: flex-start;
    flex-flow: nowrap;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.listview>img{
    height:100%;
    width:100%;
}
div.discussion-main{
    gap:0.3rem;
    display: flex;
    flex-flow: column;
    align-self: center;
}
.discussion-title{
    font-size: var(--font-size-forum);
    opacity: 0.8;
    margin-bottom: 0.2rem;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.discussion-desc,.discussion-time,.user-topics{
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 0.7;
}
.discussion-desc{
    display:flex;
}
.rating{
    padding: 0.1rem;
    border:  1px solid rgb(218, 220, 224);
    border-radius: 1rem;
    display: flex;
    font-size:0.8rem;
}
.rating-icon{
    padding: 0.2rem 0.8rem;
    border-right: 1px solid rgb(218, 220, 224);
    cursor:pointer;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.rating-icon:hover{
    transition: background-color 0.25s ease;
    background-color: rgb(241, 243, 244);
}
.rating-number{
    padding: 0.2rem 0.8rem;
}
div.rightview{
    position: relative;
    height: 7rem;
    display: flex;
    align-items: center;
    border-radius: 0.6rem;
    gap:1.5rem;
    justify-content: flex-end;
    flex-flow: column nowrap;
    padding: 1rem 0 1rem 1rem;
}
.user-images,.user-topics{
    display: flex;
    align-self: flex-end;
}
.user-images{
    width: 7rem;
    position: relative;
}
.user1,.user2,.user3{
    display: flex;
    width: 3.5rem;
    height: 2.5rem;
    border-radius: 50%;
    position: relative;
}
.user{
    display: flex;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    position: relative;
    background-color: aqua;
}
.user1{
    background-color: aqua;
    left: 1%;
    top:1%; 
}
.user2{
    left:-9%;
    top:1%;
    background-color: rgb(0, 255, 136);
}
.user3{
    left: -18%;
    top:1%;
    background-color: rgb(43, 255, 0);
}

/* css for DiscussionList */

div.discussion-main.list{
    align-self: center;
}
.right-view{
    display:flex;
    justify-content: flex-end;
    flex-flow: column;
    gap:0.5rem;
}
.right-view>.rating{
    display:flex;
    align-items: center;
    margin: 0.5rem 2rem 0;
}
.right-view .user-content{
    display:flex;
    justify-content: center;
    gap:0.5rem;
    font-size: 0.9rem;
    font-weight: 200;
    opacity: 0.7;
}
.user-content>.comments, .user-content .dots{
    align-self: center;
    display:flex
}
.dots{
    font-size:0rem;
    padding: 0.4rem;
    border-radius: 50%;
}
.dots>a>img{
    width:1.7rem;
    height: 1.7rem;
}
.dots:hover{
    background-color: rgba(208, 210, 211, 0.632);

}


/* stack */

.dis-stack{
    padding: 40px;
}

.dis-head{
    justify-content: space-between;
    margin-bottom: 20px;
}

.dis-he{
    font-size: 24px;
    font-weight: 600;
    color: black;
}

.dis-but{
    background-color: #1e40ad;
    color: white;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}
.dis-search{
    padding: 20px;
    border-radius: 15px;
    cursor: pointer; 
}
.dis-se {
    padding: 5px 0;
    border: none !important;
    outline: none;
    outline-offset: 2px;    
    font-size: 20px;
}
.dis-question{
padding: 20px;
margin-top: 30px;
}
.dis-card{
    padding: 20px 20px 10px 20px;
}

.dis-card:hover{
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 3px 0px, rgb(60 64 67 / 15%) 0px 4px 8px 3px;
    border-radius: 5px;
}
.dis-card-head{
    color: black;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
}

.dis-card-tag{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    
}
.dis-card-tag1{
    border: 1px solid #f4f6f8;
    background-color: #f4f6f8;
    padding: 8px 15px;
    border-radius: 5px;
    margin-right: 5px;
}

.dis-form-labe{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
@media screen and (max-width:780px){
    .datasets-image{
        display:none;
    }
    .user-topics{
        display: none;
    }
    div.rightview{
        justify-content: center;
    }
    a>.button>.button-content{
        font-size: 0.9rem;
    }
}

@media screen and (max-width:630px){
    div.user{
        display: none;
    }
    .discussion-desc{
        flex-flow: column;
        gap: 0.7rem;
    }
    div.listview{
        height: 6rem;
        padding:1rem 0.2rem;
    }
}
@media screen and (max-width:500px){
}





