@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@500&family=Mulish&family=Poppins:wght@500&display=swap');

:root {
    --font-size-one: 2.2rem;
    --font-size-para: 1.2rem;
    --font-size-subpara: 0.98rem;
    --font-size-explore: 1.5rem;
    --font-size-explore-btn: 0.9rem;
    --font-size-option: 0.8rem;
}

a {
    text-decoration: none;
    color: #000;
}

.course-card {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    max-width: 272px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: all 0.5s ease;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid rgb(218, 220, 224);
    opacity: 0.95;
}

.course-card:hover{
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 3px 0px, rgb(60 64 67 / 15%) 0px 4px 8px 3px;
}
.course-video {
    padding: 10px;

}

.course-line1 {
    justify-content: space-between;

}



section.learn {
    overflow: hidden;
    padding: 0.4rem 1rem;
    position: relative;
}

.learn-section {
    max-width: 122rem;
    width: 100%;
    /* margin-bottom: 3rem; */
}

.top-trending,
.top-social,
.top-finance,
.top-programmming,
.top-textdata,
.top-exercise {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trending-logo {
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

.trending-section.second {
    margin-top: 5rem;
}

h1.trending-title,
h1.social-title,
h1.finance-title,
h1.rogrammming-title,
h1.textdata-title,
h1.exercise-title {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.3;
}

.learn-grid4 {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    overflow: scroll hidden;
}

.learn-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.learn-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem 0;
    align-self: flex-start;
    max-width: 50rem;
}

h1.main-title {
    font-size: var(--font-size-one);
    font-weight: 700;
    margin: 0.9rem 0 0;
}

p.learn-para {
    font-size: var(--font-size-para);
    font-weight: 500;
    line-height: 1.4;
    margin: 0.9rem 0 0;
    color: rgb(95, 99, 104);
}

.datasets-image {
    width: 20rem;
    height: 20rem;
}

.datasets-image>img {
    width: 100%;
    height: 100%;
}

/* search-bar css */
.search-bar {
    border: 0.1rem solid rgba(0, 0, 0, 0.10);
    border-radius: 5rem;
    padding: 0.5rem 0.6rem 0.5rem 1.2rem;
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
}

.search-icon {
    display: flex;
    font-size: 1.5rem;
    opacity: 0.9;
    color: rgba(0, 0, 0, 0.8);
}

.search-bar>input,
.filter-search-bar>input {
    outline: none;
    border: none;
    background-color: transparent;
    align-self: center;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

input::placeholder,
input[type="text"] {
    font-size: 1rem;
}

div.top-learning {
    margin-bottom: 0.5rem;
}

div.learn-desc {
    padding-right: 4rem;
    margin-bottom: 3rem;
}

.learn-view {
    display: flex;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
}

.md-view {
    font-size: 2rem;
}

.learn-side-data {
    padding: 1rem;
    cursor: pointer;
    border-radius: 5rem;
    background-color: transparent;
}

.learn-side-data:hover {
    background-color: rgb(241, 243, 244);
}

/* css for listview */
div.list-view {
    height: 7rem;
    display: flex;
    align-items: center;
    border-radius: 0.6rem;
    gap: 1.5rem;
    justify-content: flex-start;
    flex-flow: nowrap;
    padding: 1rem;
    border-bottom: 0.2rem solid rgba(208, 210, 211, 0.632);
    ;
}

div.list-view:hover {
    background-color: rgba(241, 243, 244, 0.494);
    ;
}

.list-view-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
}

.list-view-image>img {
    width: 100%;
}

div.list-view-content {
    flex-flow: column nowrap;
    gap: 0.8rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.list-view-title {
    display: flex;
    justify-content: flex-start;
    font-size: 1.1rem;
    font-weight: 600;
}

.list-view-para,
.grid-para {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    /* font-weight: 200; */
    opacity: 0.7;
}

/* css for gridview */
.grid-view {
    min-width: 15rem;
    height: 18rem;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 16px;
    gap: 1rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    transition: all 0.5s ease;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid rgb(218, 220, 224);
    opacity: 0.95;
    padding: 0.8rem;
}

.grid-view:hover {
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 3px 0px, rgb(60 64 67 / 15%) 0px 4px 8px 3px;
}

.gridview-top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gridview-top-content img {
    width: 5rem;
    height: 5rem;
}

h2.grid-title {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2;
}

.gridview-middle-content {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    font-size: 0.99rem;
}

.gridview-bottom-content {
    position: absolute;
    font-size: 0.99rem;
    height: 4rem;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 0.2rem solid rgba(208, 210, 211, 0.632);
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem 0.8rem 2rem;
}

/* css for gridview2 */
.grid-view.second {
    height: 13rem;
}

.grid-view.second .gridview-middle-content {
    margin-top: 1rem;
}

/* Css for Responsiveness */

@media screen and (max-width:1440px) {
    .learn-grid4 {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width:1024px) {
    div.learn-grid4 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:1036px) {
    .learn-grid4 {
        grid-template-columns: repeat(3, 1fr);
    }

    .learn-grid4 .card:nth-last-of-type(1) {
        display: none;
    }

    .button.first>.plus-icon {
        margin-top: 0.2rem;
    }

    .filter-search-bar>.search-icon {
        font-size: 3rem;
    }

    .filter-search-bar>input {
        height: 3rem;
        align-self: flex-end;
    }

    .search-bar>input {
        height: 2rem;
    }

    .filter-content {
        font-size: 1.3rem;
    }

    .title-left {
        font-size: 1.6rem;
    }

}

@media screen and (max-width:991px) {
    .filter-search-bar {
        border: 0.16rem solid rgba(0, 0, 0, 0.16);
        border-radius: 5rem;
        padding: 0.7rem 0.4rem 0.7rem 1.8rem;
    }

    .search-bar {
        border: 0.16rem solid rgba(0, 0, 0, 0.10);
    }
}

@media screen and (max-width:840px) {
    .learn-details .datasets-image {
        display: none;
    }

    div.learn-grid4 {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width:748px) {
    .learn-grid4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .learn-grid4 .card:nth-last-of-type(2) {
        display: none;
    }

    div.list-view {
        height: auto;
    }
}

@media screen and (max-width: 630px) {
    section.learn {
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 479px) {
    div.learn-grid4 {
        grid-template-columns: 1fr;
    }

    section.learn {
        padding: 0.4rem 0.1rem;
    }

    div.learn-side-data {
        padding: 0.3rem;
    }

    div.learn-desc {
        padding-right: 0;
    }

}

@media screen and (max-width: 400px) {
    p.learn-para {
        font-size: var(--font-size-subpara);
    }
}