@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@500&family=Mulish&family=Poppins:wght@500&display=swap');

:root{
    --font-size-one: 2.2rem;
    --font-size-para: 1.2rem;
    --font-size-explore: 1.5rem;
    --font-size-explore-btn: 0.9rem;
    --font-size-option: 0.8rem;
}
section.code{
    overflow:hidden;
    padding:0.4rem 1rem;
    position:relative;
}
.code-section{
    max-width: 122rem;
    width: 100%;
    margin-bottom: 3rem;
}
.code-details{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.code-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem 0;
    align-self: flex-start;
    max-width: 50rem;
}
h1.main-title{
    font-size: var(--font-size-one);
    font-weight: 700;
    margin: 0.9rem 0 0;
}
p.code-para{
    font-size:var(--font-size-para);
    font-weight: 500;
    line-height: 1.4;
    margin: 0.9rem 0 0;
    color: rgb(95, 99, 104);
}
.explore-title{
    font-size:2.5rem;
    font-weight: 600;
    opacity: 0.8;
}
/* search-bar css */
.search-bar{
    border: 0.1rem solid rgba(0,0,0,0.10);
    border-radius: 5rem;
    padding: 0.5rem 0.6rem 0.5rem 1.2rem;
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    gap:1rem;
    align-items: center;
    justify-content: flex-start;
}
.filter-search-bar{
    border: 0.1rem solid rgba(0,0,0,0.16);
    border-radius: 5rem;
    padding: 0.5rem 0.6rem 0.5rem 1.2rem;
    display: flex;
    width: 100%;
    margin: 0 auto;
    gap:1rem;
    align-items: center;
    justify-content: flex-start;
}
.filter-search{
    cursor:pointer;
    border-radius: 5rem;;
    background-color: transparent;
    display: flex;
    gap: 1rem;
    align-self: flex-end;
    padding: 0.3rem 0.5rem;
}
.filter-search:hover{
    outline: none;
    box-shadow: none;
    background-color: rgba(218, 220, 224, 0.566);
    border: none;
}
.filter-content,.filter-icon{
    font-size: 0.8rem;
    font-weight: 600;
    align-self: center;
}
.search-icon{
    display: flex;
    font-size:1.5rem;
    opacity: 0.9;
    color: rgba(0,0,0,0.8);
}
.search-bar>input,.filter-search-bar>input{
    outline: none;
    border: none;
    background-color: transparent;
    align-self: center;
    font-size:0.8rem;
    color: rgba(0,0,0,0.5);
    width: 100%;
}
input::placeholder,input[type="text"]{
    font-size: 1rem;
}
.option-section{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    gap:0.7rem;
}
.options{
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: 5rem;
    padding: 0.4rem 1rem;
    font-size: var(--font-size-option);
    letter-spacing: 0.05rem;
    font-weight: 400;
    cursor: pointer;
    margin-top: 0.7rem;
    transition: border 0.4s ease;
}
.options:hover{
    background-color: transparent;
    border: 0.1rem solid rgb(32, 33, 36);
}
.trending-models{
    max-width: 122rem;
    width: 100%;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
}
.trending-section,.social-section,.finance-section,.programmming-section,.textdata-section,.explore-section,.exercise-section{
    max-width: 122rem;
    width: 100%;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
}
.top-trending,.top-social,.top-finance,.top-programmming,.top-textdata,.top-exercise{
    margin-bottom:2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trending-logo,.social-logo,.finance-logo,.programmming-logo,.textdata-logo,.exercise-logo{
    display: flex;
    gap: 1.6rem;
    align-items: center;
}
.finance-icon,.social-icon,.programmming-icon,.timeline-icon{
    font-size:2rem;
    align-self: center;
}
.textdata-icon,.exercise-icon{
    font-size:1.8rem;
    align-self: center;
}
h1.trending-title,h1.social-title,h1.finance-title,h1.rogrammming-title,h1.textdata-title,h1.exercise-title{
    font-size:1.4rem;
    font-weight: 600;
    line-height: 1.3;
}
.trending-side-data,.social-side-data,.finance-side-data,.programmming-side-data,.extdata-side-data,.exercise-side-data{
    font-size:0.8rem;
    font-weight: 600;
    cursor:pointer;
    border-radius: 5rem;;
    background-color: transparent;
    padding: 0.4rem 1.4rem;
    display: flex;
    gap: 1rem;
    align-self: center;
}
.finance-side-data:hover,.social-side-data:hover,.rogrammming-side-data:hover,.textdata-side-data:hover,.trending-side-data:hover,.exercise-side-data:hover{
    background-color: rgb(218, 220, 224);
}
.trending-cards,.social-cards,.finance-cards,.programmming-cards,.textdata-cards,.exercise-cards{
    padding-bottom: 3rem;
    border-bottom: 0.15rem solid rgb(218, 220, 224);
}
.grid4{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:1rem;
    overflow: scroll hidden;
}

.model-explore-section,
.explore-section{
    gap:0.9rem;
    margin: 7rem auto 8rem;
    padding: 2rem 5rem;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.explore-title{
    font-size:var(--font-size-explore);
    font-weight: 600;
    opacity: 0.8;
}
.explore-para{
    font-size:var(--font-size-para);
    opacity: 0.8;
    font-weight: 400;
    max-width: 45rem;
    text-align: center;
}
.explore-button{
    border:1px solid rgb(189, 193, 198);
    border-radius: 5rem;
    padding: 0.5rem 1.3rem;
    display: flex;
    color: #fff;
    opacity: 0.95;
    background-color: rgb(25, 25, 27);
    font-size: var(--font-size-para);
    font-weight: 400;
    cursor: pointer;
    margin-top: 0.7rem;
}
.explore-button>.button-content{
    font-size: var(--font-size-explore-btn);
}
.button-content{
    font-size: 1.05rem;
    font-weight: 500;
}
.explore-button:hover{
    border:1px solid rgb(37, 37, 38);
    box-shadow: rgb(60 64 67 / 30%) 0px 2px 3px 0px, rgb(60 64 67 / 15%) 0px 6px 10px 4px;
}


/* css for card */
.card{
    max-width:23rem;
    min-width: 18rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid rgb(218, 220, 224);
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: transparent;
    position: relative;
    transition:all 0.5s ease;
    cursor: pointer;
}
.card:hover{
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 3px 0px, rgb(60 64 67 / 15%) 0px 4px 8px 3px;
}
figure{
    height: 10rem;
    max-width: 25rem;
    width: 100%;
    margin: 0;
}
.card-title{
    position: relative;
    display: flex;
    align-items: center;
    max-height: 5rem;
    justify-content: space-between;
    padding: 1rem 1rem 0.5rem;
}
.title-left{
    font-size: 1rem;
    font-weight: 700;
}
.btn-right{
    border-radius: 50%;
    padding: 0.3rem 0.5rem;
    cursor:pointer;
}
.btn-right:hover{
    background-color: rgb(218, 220, 224);
}
.dot-icon{
    font-size:1rem;
}
.dot-icon>img{
    width: 100%;;
    height: 100%;
}
a{
    text-decoration: none;
    color: #000;
}

figure>img{
    height: 10rem;
    position: relative;
    width: 100%;
    object-fit: cover;
}
.desc-1,.desc-2,.desc-3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-description{
    opacity:0.9;
    padding:0.2rem 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
    font-weight: 500;
    display: flex;
    gap:0.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-direction: column;
}
.rating-section{
    cursor: auto;
    position: absolute;
    border-top: 1px solid rgb(218, 220, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    bottom: 0;
    left: 0;
    right: 0;
}
.rating{
    padding: 0.1rem;
    border:  1px solid rgb(218, 220, 224);
    border-radius: 1rem;
    display: flex;
    font-size:0.8rem;
}
.rating-title{
    font-size: 0.8rem;
    font-weight: 600;
    border: none;
    outline: none;
}
.rating-time{
    font-size:0.8rem;
}
.rating-icon{
    padding: 0.2rem 0.8rem;
    border-right: 1px solid rgb(218, 220, 224);
    cursor:pointer;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.rating-icon:hover{
    transition: background-color 0.25s ease;
    background-color: rgb(241, 243, 244);
}
.rating-number{
    padding: 0.2rem 0.8rem;
}
.user-logo{
    cursor:pointer;
    border: 4px solid #0ff;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

/* css for buttons */
.buttons{
    margin: 0.9rem 0 0;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    max-width: 30rem;
}
.button{
    border: 0.1rem solid rgba(0, 0, 0, 0.483);
    border-radius: 5rem;
    padding: 0.4rem 1rem;
    font-size: 0.8rem;
    font-weight: 800;
    cursor: pointer;
    margin-top: 0.7rem;
}
.button.first{
    align-self: center;
    justify-content: center;
    gap:0.5rem;
    display: flex;
    color: #fff;
    background-color: rgb(25, 25, 27);
    opacity: 0.95;
}
.plus-icon{
    display: flex;
    align-self: center;
}
.button.first:hover{
    box-shadow: rgb(60 64 67 / 30%) 0px 2px 3px 0px, rgb(60 64 67 / 15%) 0px 6px 10px 4px;
}
.button.second{
    border:1px solid rgb(189, 193, 198);
    background-color: transparent;
    display: flex;
    align-content: center;
}
.button.second:hover{
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid rgb(32, 33, 36);
}
.button-content{
    display: flex;
    align-self: center;
}


/* Css for Responsiveness */
@media screen and (max-width:1036px) {
    .button.first>.plus-icon{
        margin-top: 0.2rem;
    }
    .filter-search-bar>.search-icon{
        font-size: 1.5rem;
    }
    .search-icon{
        font-size: 1.5rem;
    }
    input::placeholder{
        font-size: 1.4rem;
    }
    .filter-search-bar>input{
        align-self: normal;
    }
    .search-bar>input{
        height:2rem;
    }
    .filter-content{
        font-size: 1.1rem;
    }
    .title-left{
        font-size: 1rem;
    }
    .grid4{
        grid-template-columns: repeat(3,1fr);
    }
    .grid4 .card:nth-last-of-type(1){
        display: none;
    }


}
@media screen and (max-width:991px) {
    .explore-section{
        padding:2rem 0;
    }
    .explore-title{
        font-size: 1.1;
    }
    .explore-button>.button-content{
        font-size: 0.6rem;
    }
    .search-bar>input,.filter-search-bar>input{
        font-size:0.7rem;
    }
    input::placeholder,input[type="text"]{
        font-size: 0.9rem;
    }
    .filter-search-bar{
        border: 0.16rem solid rgba(0,0,0,0.16);
        border-radius: 5rem;
        padding: 0.7rem 0.4rem 0.7rem 1.8rem;
    }
    .search-bar{
        border: 0.16rem solid rgba(0,0,0,0.10);
    }
}
@media screen and (max-width:840px) {
    .code-details .code-image{
        display: none;
    }
     div.container{
        padding:1rem 0.2rem;
    }
    h1.trending-title,h1.social-title,h1.finance-title,h1.rogrammming-title,h1.textdata-title,h1.exercise-title{
        font-size:1.2rem;
    }
    .explore-title{
        line-height: 1.2;
    }
    .explore-button>.button-content{
        font-size:0.8rem;
    }
}
@media screen and (max-width:748px) {
    .grid4{
        grid-template-columns: repeat(2,1fr);
    }
    .grid4 .card:nth-last-of-type(2){
        display: none;
    }
}
@media screen and (max-width: 660px){
    section.code{
        padding:0.4rem 0.3rem;
    }
    .search-bar{
        padding: 0.3rem 0.6rem 0.3rem 1.2rem;
    }
}
@media screen and (max-width: 479px){
    div.grid4{
        display: grid;
        grid-template-columns: repeat(4, 282px) auto;
        overflow-x: auto;
        margin: 0px -1.7rem;
        padding: 0 1.6rem 3rem;
    }
    .grid4 .card:nth-last-of-type(1),.grid4 .card:nth-last-of-type(2){
        display: block;
    }
    .trending-side-data,.social-side-data,.finance-side-data,.programmming-side-data,.extdata-side-data,.textdata-side-data,.exercise-side-data{
        display:none;
    }
    section.code{
        padding:0.4rem 0.1rem;
    }
    .explore-button>.button-content{
        font-size:0.6rem;
    }
    .button.first>.button-content,.button.second>.button-content{
        font-size: 0.85rem;
    }
}
@media screen and (max-width: 350px){
    .button.first>.button-content,.button.second>.button-content{
        font-size: 0.7rem;
    }
    div.filter-content{
        font-size:0.8rem;
    }
    .filter-search>.filter-icon{
        font-size:1rem;
    }
    .filter-search-bar>.search-icon{
        font-size:1.5rem;
    }
}
