@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@500&family=Mulish&family=Poppins:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
/* html,body{
    width: 100%;
    overflow-x: hidden;
    font-size: 62.5%;
    font-family: Inter, 'sans-serif';
    font-weight: 200;   
} */
:root{
    --font-size-one: 2.2rem;
    --font-size-para: 1.2rem;
    --font-size-explore: 1.5rem;
    --font-size-explore-btn: 0.9rem;
    --font-size-option: 0.8rem;
}
.container{
    margin-bottom:2rem;
}
section.model{
    overflow:hidden;
    padding:0.4rem 1rem;
    position:relative;
}
/* section.model.is-collapsed{
    margin-left: 6.8rem;
} */
.container{
    width: 100%;
    /* max-width:122rem; */
    /* padding: 1rem 5rem; */
    margin: 0 auto;
    position: relative;
}
.outer-section{
    z-index: 100;
    background-color: transparent;
    left: 0;
    /* top: 10%; */
    top: 0%;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    margin: 0 auto 2rem;
    
}
/* div.outer-section.full-width.is-collapsed{
    left: 6.3%;
    width: 100%;
} */
/* div.outer-section.is-collapsed{
    left: 6.3%;
    width: 94%;
} */
.outer-section.is-fixed{

    position:fixed;
    width: 81%;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 6px 2px;
    left: 19.55%;
}
.filter-section{
    max-width: 122rem;
    padding: 0.4rem 0.2rem;
    width: 100%;
    margin: 0 auto;
}
.model-section{
    max-width: 122rem;
    width: 100%;
    margin-bottom: 3rem;
}
.top-section{
    max-width: 120rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    margin: auto;
}
.search-bar{
    border: 0.1rem solid rgba(0,0,0,0.10);
    border-radius: 5rem;
    padding: 0.5rem 0.6rem 0.5rem 1.2rem;
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    gap:1rem;
    align-items: center;
    justify-content: flex-start;
}
.filter-search-bar{
    border: 0.1rem solid rgba(0,0,0,0.16);
    border-radius: 5rem;
    padding: 0.5rem 0.6rem 0.5rem 1.2rem;
    display: flex;
    width: 100%;
    margin: 0 auto;
    gap:1rem;
    align-items: center;
    justify-content: flex-start;
}
.filter-search{
    cursor:pointer;
    border-radius: 5rem;;
    background-color: transparent;
    display: flex;
    gap: 1rem;
    align-self: center;
    padding: 0.3rem 0.5rem;
}
.filter-search:hover{
    outline: none;
    box-shadow: none;
    background-color: rgba(218, 220, 224, 0.566);
    border: none;
}
.filter-content,.filter-icon{
    font-size: 0.8rem;
    font-weight: 600;
    align-self: center;
}
.search-icon{
    display: flex;
    font-size:1.5rem;
    opacity: 0.9;
    color: rgba(0,0,0,0.8);
}
.search-bar>input,.filter-search-bar>input{
    outline: none;
    border: none;
    background-color: transparent;
    align-self: center;
    font-size:0.8rem;
    color: rgba(0,0,0,0.5);
    width: 100%;
}
input::placeholder,input[type="text"]{
    font-size: 1rem;
}
.opti{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 0;
}
.option-section{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    gap:0.7rem;
}
.options{
    border: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-radius: 5rem;
    padding: 0.4rem 1rem;
    font-size: var(--font-size-option);
    letter-spacing: 0.05rem;
    font-weight: 400;
    cursor: pointer;
    margin-top: 0.7rem;
    transition: border 0.4s ease;
}
.options:hover{
    background-color:#d1c4e9;
    /* border: 0.1rem solid rgb(32, 33, 36); */
}

.model-details{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.model-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 3rem 0;
    align-self: flex-start;
    max-width: 50rem;
}
h1.main-title{
    font-size: var(--font-size-one);
    font-weight: 700;
    margin: 0.9rem 0 0;
}
p.model-para{
    font-size: var(--font-size-para);
    font-weight: 500;
    line-height: 1.4;
    margin: 0.9rem 0 0;
    color: rgb(95, 99, 104);
}
.buttons{
    margin: 0.9rem 0 0;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    max-width: 30rem;
}
.button{
    border: 0.1rem solid rgba(0, 0, 0, 0.483);
    border-radius: 5rem;
    padding: 0.65rem 1.3rem;
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;
    margin-top: 0.7rem;
}
.button.first{
    align-content: center;
    justify-content: center;
    gap:0.5rem;
    display: flex;
    color: #fff;
    background-color: rgb(25, 25, 27);
    opacity: 0.95;
}
.button.first:hover{
    box-shadow: rgb(60 64 67 / 30%) 0px 2px 3px 0px, rgb(60 64 67 / 15%) 0px 6px 10px 4px;
}
.button.second{
    border:1px solid rgb(189, 193, 198);
    background-color: transparent;
    display: flex;
    align-content: center;
}
.arrow-icon{
    align-items: center;
}
.button.second:hover{
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid rgb(32, 33, 36);
}
.button-content{
    display: flex;
    align-self: center;
}
.trending-models{
    max-width: 122rem;
    width: 100%;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
}
.trending-section,.social-section,.finance-section,.programmming-section,.textdata-section,.explore-section,.exercise-section{
    max-width: 122rem;
    width: 100%;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
}
.top-trending,.top-social,.top-finance,.top-programmming,.top-textdata,.top-exercise{
    margin-bottom:2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trending-logo,.social-logo,.finance-logo,.programmming-logo,.textdata-logo,.exercise-logo{
    display: flex;
    gap: 1.6rem;
    align-items: center;
}
.finance-icon,.social-icon,.programmming-icon,.timeline-icon{
    font-size:2rem;
    align-self: center;
}
.textdata-icon,.exercise-icon{
    font-size:1.8rem;
    align-self: center;
}
h1.trending-title,h1.social-title,h1.finance-title,h1.rogrammming-title,h1.textdata-title,h1.exercise-title{
    font-size:1.4rem;
    font-weight: 600;
}
.trending-side-data,.social-side-data,.finance-side-data,.programmming-side-data,.extdata-side-data,.exercise-side-data{
    font-size:0.8rem;
    font-weight: 600;
    cursor:pointer;
    border-radius: 5rem;;
    background-color: transparent;
    padding: 0.4rem 1.4rem;
    display: flex;
    gap: 1rem;
    align-self: center;
}
.finance-side-data:hover,.social-side-data:hover,.rogrammming-side-data:hover,.textdata-side-data:hover,.trending-side-data:hover,.exercise-side-data:hover{
    background-color: rgb(218, 220, 224);
}
.trending-cards,.social-cards,.finance-cards,.programmming-cards,.textdata-cards,.exercise-cards{
    padding-bottom: 3rem;
    border-bottom: 0.15rem solid rgb(218, 220, 224);
}
.grid4{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:1rem;
    overflow: scroll hidden;
}
.model-explore-section{
    gap:0.9rem;
    margin: 7rem auto 8rem;
    padding: 2rem 5rem;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.explore-title{
    font-size:var(--font-size-explore);
    font-weight: 600;
    opacity: 0.8;
}
.explore-para{
    font-size:var(--font-size-para);
    opacity: 0.8;
    font-weight: 400;
    max-width: 45rem;
    text-align: center;
}
.explore-button{
    border:1px solid rgb(189, 193, 198);
    border-radius: 5rem;
    padding: 0.7rem 2.3rem;
    display: flex;
    color: #fff;
    opacity: 0.95;
    background-color: rgb(25, 25, 27);
    font-size: 1.3rem;
    font-weight: 400;
    cursor: pointer;
    margin-top: 0.7rem;
}
.explore-button>.button-content{
    font-size: var(--font-size-explore-btn);
}
.button-content{
    font-size: 1.05rem;
    font-weight: 500;
}
.explore-button:hover{
    border:1px solid rgb(37, 37, 38);
    box-shadow: rgb(60 64 67 / 30%) 0px 2px 3px 0px, rgb(60 64 67 / 15%) 0px 6px 10px 4px;
}

/* css for imagelesscard */
.imgless-card{
    max-width:16rem;
    min-width:14rem;
    height: 14rem;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid rgb(218, 220, 224);
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: transparent;
    position: relative;
    transition:all 0.5s ease;
    cursor: pointer;
    opacity: 0.95;
}
.imgless-card:hover{
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 3px 0px, rgb(60 64 67 / 15%) 0px 4px 8px 3px;
}
a.card-link{
    height: 100%;
    width: 100%;
}
.card-data{
    margin: 1.4rem 1.4rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.imglesscard-title{
    font-size: 1rem;
    font-weight: 700;
    opacity: 0.9;
}
.animated-card-content{
    position:absolute;
    bottom:0;
    display:flex;
    gap:2rem;
    align-items: center;
    /* justify-content: center; */
    padding:1rem 1.2rem;
}
.right-arrow{
    font-size: 1rem;
    font-weight: 800;
    align-self: center;
}
.animated-title{
    font-size: 1rem;
    font-weight: 800;
    opacity: 0.9;

}
.imglesscard-subtitle{
    font-size: 0.7rem;
    font-weight: 800;
    opacity: 0.7;
}
.variants{
    font-size:0.7rem;
    font-weight: 500;
    opacity: 0.7;
}
div.imglesscard-para{
    font-weight: 500;
    opacity: 0.7;
    font-size:0.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.model-rating-section{
    cursor: auto;
    position: absolute;
    border-top: 1px solid rgb(218, 220, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0.8rem;
    bottom: 0;
    left: 0;
    right: 0;
}
.model-rating{
    padding: 0.1rem;
    border:  1px solid rgb(218, 220, 224);
    border-radius: 1rem;
    display: flex;
    font-size:0.8rem;
    font-weight: 500;
}
.model-rating-icon{
    padding: 0.2rem 0.8rem;
    border-right: 1px solid rgb(218, 220, 224);
    cursor:pointer;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.model-rating-icon:hover{
    transition: background-color 0.25s ease;
    background-color: rgb(241, 243, 244);
}
.model-rating-number{
    padding: 0.2rem 0.8rem;
}
.model-user-logo{
    cursor:pointer;
    border: 4px solid #0ff;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}


.imgless-card>figure{
    /* height: 15rem; */
    width:100%;
    position:absolute;
    top:0;
    margin: 0;
}
.imgless-card>figure>img{
    width: 100%;
    height: 100%;
    /* height: 83px; */
    object-fit: contain;
}
.card-title{
    position: relative;
    display: flex;
    align-items: center;
    max-height: 6rem;
    justify-content: space-between;
    padding: 1.1rem 1.2rem 0.9rem;
}
.title-left{
    font-size: 1.3rem;
    font-weight: 700;
}
.btn-right{
    border-radius: 50%;
    padding: 0.5rem 0.7rem;
    cursor:pointer;
}
.btn-right:hover{
    background-color: rgb(241, 243, 244);
}
.dot-icon{
    font-size:1.2rem;
}
.dot-icon>img{
    width:1.7rem;
    height: 1.7rem;
}
a{
    text-decoration: none;
    color: #000;
}

/* Css for Responsiveness */
@media screen and (max-width:2440px) {
    div.outer-section.is-fixed{
        margin-left: 16.1rem;
        background-color: #fff;
        width: 82%;
        top: 9%;
        z-index: 2;
    }
}
@media screen and (max-width:1440px) {
    div.outer-section.is-fixed{
        width: 100%;
    }
}
@media screen and (max-width:1036px) {
    .filter-section{
        padding: 1.4rem 2.2rem;
    }
    .search-icon{
        font-size:1.8rem;
    }
    .explore-section{
        padding:2rem 0;
    }
    .filter-search-bar {
       padding: 0rem 0.4rem 0rem 1.8rem;
    }
    .explore-title{
        font-size: 1.1;
    }
    .explore-button>.button-content{
        font-size: 0.6rem;
    }
    .search-bar>input,.filter-search-bar>input{
        font-size:0.7rem;
    }
    input::placeholder,input[type="text"]{
        font-size: 0.9rem;
    }
    div.outer-section.is-fixed{
        z-index: 50;
        top: 8%;
        left: 0%;
        width:moz-fit-content;
    }
    /* .options{
        font-size: 1.2rem;
    } */
    h1.trending-title,h1.social-title,h1.finance-title,h1.programmming-title,h1.textdata-title,h1.exercise-title{
        font-size: 1.5rem;
        line-height:1.3;
    }
    .grid4{
        grid-template-columns: repeat(3,1fr);
    }
    .grid4 .imgless-card:nth-last-of-type(1){
        display: none;
    }
    h1.main-title{
        font-size: 3.3rem;
    }
    .button-content{
        font-size: 1.2rem;
    }
    .button.first>.plus-icon{
        margin-top: 0.2rem;
    }
    .filter-search-bar>.search-icon{
        font-size: 3rem;
    }
    .filter-search-bar>input{
        height:3rem;
        align-self: flex-end;
    }
    .filter-content{
        font-size: 1.3rem;
    }
    .title-left{
        font-size: 1.6rem;
    }
  
}
@media screen and (max-width:1024px) {
    section.model{
        overflow:hidden;
    }
}
@media screen and (max-width:991px) {
    .explore-title{
        line-height: 1.2;
    }
    div.outer-section.is-fixed{
        margin-left: 0;
    }
    .explore-para{
        font-size: var(--font-size-para);
        line-height: 1.2;
    }
    .explore-button>.button-content{
        font-size:0.8rem;
    }
    .filter-search-bar{
        border: 0.16rem solid rgba(0,0,0,0.16);
        border-radius: 5rem;
        padding: 0.7rem 0.4rem 0.7rem 1.8rem;
    }
    .search-bar{
        border: 0.16rem solid rgba(0,0,0,0.10);
    }
}
@media screen and (max-width:840px) {
    /* div.outer-section.clock-icon.is-collapsed{
        left: 22.55%;
    } */
    div.outer-section.is-fixed.extend{
        left: 23.55%;
    }
    .model-details .models-image,.datasets-image{
        display: none;
    }
}
@media screen and (max-width:769px) {
    /* div.outer-section.is-fixed.is-collapsed {
        left: 5.8%;
        width:95%;
    } */
     .trending-side-data,.social-side-data,.finance-side-data,.programmming-side-data,.extdata-side-data,.textdata-side-data,.exercise-side-data{
        display:none;
    }
}
@media screen and (max-width:748px) {
    .grid4{
        grid-template-columns: repeat(2,1fr);
    }
    .grid4 .imgless-card:nth-last-of-type(2){
        display: none;
    }
}
@media screen and (max-width: 668px){
    /* div.search-bar{
        display: none;
    } */
    /* section.model,section.competition,section.dataset,section.code,section.model.is-collapsed,section.code.is-collapsed,section.competition.is-collapsed,section.dataset.is-collapsed{
        margin-left: 2rem;
    } */
}
@media screen and (max-width: 630px){
    .model-explore-section{
        padding: 1rem 2rem;
    }
    /* div.outer-section.is-fixed.is-collapsed {
        left: -1rem;
        width:102%;
        margin-left: 0;
    } */
    
    /* section.competition,section.competition.is-collapsed,section.dataset,section.model,section.code,section.learn{
        margin-left: 0 !important;
    } */
    /* div.filter-section{
        padding: 1rem 2rem;
    } */
}
@media screen and (max-width: 479px){
    div.grid4{
        display: grid;
        grid-template-columns: repeat(4, 282px) auto;
        overflow-x: auto;
        margin: 0px -1.7rem;
        padding: 0 1.6rem 3rem;
    }
    .grid4 .imgless-card:nth-last-of-type(1),.grid4 .imgless-card:nth-last-of-type(2){
        display: block;
    }
}
@media screen and (max-width: 400px){
    .model-explore-section{
        padding: 0.5rem;
    }
    .explore-button{
        padding: 0.4rem 0.9rem;
    }
}
@media screen and (max-width: 350px){
    .button.first>.button-content,.button.second>.button-content{
        font-size: 0.7rem;
    }
    div.filter-content{
        font-size:0.8rem;
    }
    .filter-search>.filter-icon{
        font-size:1rem;
    }
    .filter-search-bar>.search-icon{
        font-size:1.5rem;
    }
}






