
.bit {
  position: absolute;
  top: 0; /* Initial position at the top */
  animation: moveUpDown 4s infinite alternate; /* Adjust the animation duration as needed */
}

@keyframes moveUpDown {
  0% {
    top: 0;
  }
  100% {
    top: 60px; /* Move down */
  }
}

body{
  background-color: #2434b3;
 
}


 
 