
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:wght@500&family=Mulish&family=Poppins:wght@500&display=swap');

  :root{
      --font-size-one: 2.2rem;
      --font-size-large: 1.3rem;
      --font-size-para: 1.2rem;
      --font-size-explore: 1.5rem;
      --font-size-subpara: 1.1rem;
      --font-size-explore-btn: 0.9rem;
      --font-size-option: 0.8rem;
      --font-size-small: 0.7rem;
      --font-size-xsmall: 0.6rem;
  }
  
  section.privacy-section{
      overflow:hidden;
      padding:0.4rem 1rem;
      position:relative;
  }
.privacy-container{
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
}
.privacy-content{
    display:flex;
    flex-flow:column;
    justify-content: flex-start;
    padding:0.5rem;
}
.privacy-title{
    padding:1rem 0;
    display:flex;
}
.privacy-title>h3.privacy{
    font-size: var(--font-size-one);
    font-weight: 900;
}
.privacy-data{
    margin-top: 2rem;
}
.privacy-note{
    opacity: 0.8;
    font-size:1.3rem;
    line-height: 1.5;
    font-weight: 500;
}
.privacy-subtitle{
    margin: 2rem 0;
    line-height: 1.6;
    text-align: center;
    color: rgb(32, 33, 36);
    font-size: 1.3rem;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: rgba(34, 32, 32, 0.789);
}
.date{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin: 0.5rem 0;
    color: rgb(32, 33, 36);
    font-weight: 400;
    line-height: 1.2;
}
.heading{
    font-size: var(--font-size-large);
    opacity: 0.9;
    color: rgb(27, 27, 28);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.4;
}
.privacy-point-title{
    margin: 1.2rem 0;
    color: rgb(6, 6, 7);
    font-size:var(--font-size-large);
    font-weight: 600;
    line-height: 1.1;    
    opacity:0.96;
}
.privacy-point-title.italic{
    font-style: italic;
}
.privacy-point-title.fade{
    opacity:0.8;
    color: rgb(96, 89, 89);

}
.point-content{
    opacity:0.9 ;
    margin: 1.2rem 0;
    color: rgb(27, 27, 28);
    font-size: var(--font-size-para);
    font-weight: 400;
    line-height: 1.4;
}
ul>li{
    /* margin: 1.2rem 0 1.2rem 6rem; */
    line-height: 1.3;
    font-size:15px;
    /* padding-left: 1rem; */
    color: rgb(32, 33, 36);
}



/* css for responsiveness */
@media only screen and (max-width:480px){
    div.privacy-container{
        padding:0.2rem;
    }
    .privacy-title>h3.privacy{
        font-size: var(--font-size-explore);
    }
    .privacy-point-title,.point-content{
        font-size: var(--font-size-para);
        line-height:1.2;

    }
    ul>li,.point-content{
        font-size: var(--font-size-explore-btn);
    }
    .date,.heading,.privacy-point-title{
        font-size: var(--font-size-subpara);
    }
}

@media only screen and (max-width:380px){
    section.privacy-section{
        padding:0;
    }
    ul>li{
        margin: 1.1rem 0 1rem 2rem;
        padding-left:0.5rem;

    }
}






